<button ng-show="community.participates==true" class="button button-raised button-primary button-pill button-small" ng-click="leave()">Leave community</button>
<button ng-show="community.participates==false" class="button button-raised button-primary button-pill button-small" ng-click="join()">Join community</button>
{{community.community.community.title}}
{{community.participants.length}}
