<a ng-href="/app/id{{user.id}}">
	<div class="friend_preview_1 inline">
		<div class="friend_pic_frame">
			<img ng-src="{{user.avatar_url}}" class="thumb_img_preview"/>
		</div>
		{{user.first_name}}&nbsp;{{user.last_name}}
	</div>
</a>